#signUp {
    color: blue;
}

.registerPage {
    margin-top: 10px;
    margin-left: 550px;
    background-color: white;
    height: 615px;
    border-radius: 12px;
    width: 450px;
    border: 2px solid rgb(230, 238, 240);
}

.registerForm {
    width: 350px;
    margin-left: 50px;
}

#heading {
    padding-top: 20px;
    text-align: center;
}

#text {
    text-align: center;
}

.loginBtn {
    padding-left: 100px;
    margin-left: 100px;
    padding-right: 100px;
}

.text {
    text-align: center;
    padding: 10px;
}

#star {
    color: red;
}

#ucbosHeading {
    text-align: center;
    color: blue;
    margin-top: 20px;
    font-size: 40px;
    font-weight: 700;
}

.male {
    margin-left: 20px;
}

.loginForm {
    margin-top: 40px;
    margin-left: 550px;
    background-color: white;
    height: 410px;
    border-radius: 12px;
    width: 450px;
    border: 2px solid rgb(230, 238, 240);
}

.content {
    width: 350px;
    margin-left: 45px;
}

#loginHeading {
    text-align: center;
    padding: 15px;
}

.loginButton {
    margin-top: 20px;
    padding-left: 150px;
    padding-right: 150px;
}

#captcha {
    margin-top: 10px;
    margin-bottom: 2px;
    padding: 8px;
    border-radius: 5px;
    font-size: x-large;
    text-align: center;
    color: azure;
    background-image: url("https://images.unsplash.com/photo-1520699514109-b478c7b48d3b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bm9pc2UlMjB0ZXh0dXJlfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
}

.label {
    margin-bottom: 5px;
    margin-top: 5px;
}

.loginLabel {
    margin: 10px;
}

#radio {
    margin-left: 5px;
}

:host ::ng-deep .p-calendar {
    width: 100%;
}

.gender {
    margin-top: 10px;
}

.some {
    position: absolute;
    background-color: #efefef;
    height: 100vh;
    width: 100%;
}