<!-- <i class="pi pi-images"></i> -->


<div class="fullPage">
    <div class="leftSidebar">
        <div class="sidebarNames">
            <a ><i id="watchIcon" class="pi pi-video"> <span> Watch </span> </i></a>
            <a ><i class="pi pi-calendar-times"> <span>Events</span> </i></a>
            <a ><i class="pi pi-users"> <span>Friends</span> </i></a>
            <a ><i class="pi pi-clock"> <span>Memories</span> </i></a>
        </div>
    </div>  
    <div>
        <div class="writePostContainer">
            <div class="userProfile">
                <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt="">
                <div>
                    <p>Jaikumar</p>
                    <small>Public</small>
                </div>
            </div>
    
            <div class="postInputContainer">
                <textarea rows="3" placeholder="Write some thing here"></textarea>
            </div>
            <div class="addPostLinks">
                <label for="fileInput">
                    <a><i id="icon" class="pi pi-plus-circle" (click)="upLoadImages()"></i>Photo/Video</a>
                </label>
                <input id="fileInput" type="file">
    
            </div>
        </div>
    
        <div class="postContainer">
            <div class="userProfile">
                <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt="">
                <div>
                    <p>Jaikumar</p>
                    <span>June 30 2022, 10:30pm</span>
                </div>
            </div>
            <p class="postText">Write some thing here.............</p>
            <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" class="postImage">
            <div class="postRow">
                <div class="activityIcons">
                    <div><i class="pi pi-heart" style="cursor: pointer;" (click)="like()" *ngIf="!isLiked"></i>
                        <i class="pi pi-heart-fill" *ngIf="isLiked"></i>
                        <p id="likesValue">{{likes}} like </p>
                    </div>
    
                    <div><i class="pi pi-comment" (click)="addComment()" style="cursor: pointer;"></i></div>
                    <div><i class="pi pi-share-alt"></i></div>
                </div>
            </div>
        </div>


        <div class="postContainer">
            <div class="userProfile">
                <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt="">
                <div>
                    <p>Jaikumar</p>
                    <span>June 30 2022, 10:30pm</span>
                </div>
            </div>
            <p class="postText">Write some thing here.............</p>
            <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" class="postImage">
            <div class="postRow">
                <div class="activityIcons">
                    <div><i class="pi pi-heart" style="cursor: pointer;" (click)="like()" *ngIf="!isLiked"></i>
                        <i class="pi pi-heart-fill" *ngIf="isLiked"></i>
                        <p id="likesValue">{{likes}} like </p>
                    </div>
    
                    <div><i class="pi pi-comment" (click)="addComment()" style="cursor: pointer;"></i></div>
                    <div><i class="pi pi-share-alt"></i></div>
                </div>
            </div>
        </div>
    </div>


    

    <p-dialog [(visible)]="displayDialogBox" [closable]="true">
        <h5 id="comments">Comments</h5>
        <hr>
        <div class="commentsBox" *ngFor="let item of displayComments">

            <div class="userProfile userComment">
                <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt="">
                <div>
                    <p>Jaikumar</p>
                    <p id="comment">{{item}}</p>
                    <!-- <small>Public</small> -->
                </div>
            </div>
        </div>

        <div class="commentInput">
            <input placeholder="add a comment for Jaikumar" [(ngModel)]="comments">
            <i class="pi  pi-send" (click)="postComments()"></i>
        </div>

    </p-dialog>

    <div class="rightSidebar">

    </div>
    <!-- <textarea  id="dialogBox" cols="30" placeholder="add a comment for Jaikumar" ></textarea><i class="pi  pi-send"></i> -->
</div>