nav img {
    margin-left:0px;
    width: 50px;
    height: 50px;
    object-fit:contain;
    margin-left: 20px;
    border-radius: 50%;
}
nav {
    background-color: #1876f2;
    display: flex;
    top: 0;
    position: fixed;
    z-index: 100;
    width: 100vw;
}
#name {
  margin-top: 2px;
  width: 45px !important;
  height: 45px;
  padding: 10px;
  text-align: center;
  background-color: rgb(231, 228, 228);
  border: 2px solid rgb(231, 228, 228);
  border-radius: 50%;
  margin-left: 1350px;
  cursor: pointer;
}

.pi-plus-circle {
    font-size: 2rem;
    margin-top: 10px;
    position: absolute;
    margin-left: 1300px;
    cursor: pointer;
    color:  rgb(231, 228, 228);
}

#heading {
    margin-top: 10px;
    margin-left: 700px;
    position: absolute;
    color: rgb(231, 228, 228);
    font-size: xx-large;
    font-weight: 500;
}

 h3 {
    text-align: center;
}

.btn-danger {
    float: right;
    margin-right: 10px;
}
:host ::ng-deep .p-dialog {
    margin-top: -550px;
    margin-left: 1420px; 
    
}

